.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
}

.tracks {
  border: 1px solid #000;
  border-radius: 4px;
  min-height: 200px;
  height: 100%;
  width: 100%;
}

.track-inner{
  position: relative;
}

.click-btn-case{
  position: absolute;
  z-index: 100;
  display: block;
  width: 10px;
  height: 15px;
  right: 0;
  top: 0;
  background: #f00;
  border-radius: 5px;
  cursor: pointer;
}

.notigicationWrap{
  display: block;
  position: absolute;
  right: 0; 
  top: 0;
}