<div>
  <form [formGroup]="form" (submit)="submit()">
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="address">
    </mat-form-field>
    <div appearance="outline">
      <input type="radio" value="yes" formControlName="subscriber" name="gender">
      <input type="radio" value="no" formControlName="subscriber" name="gender">
    </div>
    <button mat-raised-button color="primary" style="display: block; margin: 0 auto;" type="submit">Submit</button>
  </form>
</div>
