<mat-dialog-content class="content-wrap">
    <mat-radio-group [(ngModel)]="selected">
        <mat-radio-button [(value)]="item.componentName" *ngFor="let item of list" [disabled]="item.disabled"
            class="dashboard-radio-btn">
            {{item.componentName.toUpperCase()
            + ' ' + item.forWidth + '/1'}}</mat-radio-button>
    </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions class="action-btns-wrap">
    <button mat-button mat-dialog-close (click)="onApplyClick()">Apply</button>
    <button mat-button mat-dialog-close (click)="onCloseClick()">Close</button>
</mat-dialog-actions>