<mat-dialog-content class="content-wrap">
    <!-- <mat-radio-group [(ngModel)]="selected">
        <mat-radio-button [(value)]="item.id" *ngFor="let item of data.arrItemsForChooise" [disabled]="item.disabled" style="display: block;">
            {{item.content + ' ' + item.sizeBlock + '/1'}}</mat-radio-button>
    </mat-radio-group> -->
    <section class="example-section">
        <ul>
            <li *ngFor="let item of list">
                <mat-checkbox [(ngModel)]="item.completed" [disabled]="item.disabled">{{item.componentName.toUpperCase()}}</mat-checkbox>
            </li>
        </ul>
    </section>
</mat-dialog-content>
<mat-dialog-actions class="action-btns-wrap">
    <button mat-button mat-dialog-close (click)="onApplyClick()">Apply</button>
    <button mat-button mat-dialog-close (click)="onCloseClick()">Close</button>
</mat-dialog-actions>